src/receiver/CMakeLists.txt
src/receiver/.idea
src/receiver/*.o
src/sender/*.o
src/sender/.idea
src/sender/CMakeLists.txt
nbproject
src/receiver/IBP
src/sender/sender
src/receiver/*.dep
src/sender/*.dep
